<!doctype html>
<html>

<head>
  <title>Furever Home</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="shortcut icon" href="../favicon.ico">
</head>

<body class="logBod">
  <section class="container">

    <h1 class="log">Login</h1>

    <% if (message.length > 0) { %>
    <section class="alert alert-danger">
      <%= message %>
    </section>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
      <section class="form-group">
        <label class="info">Email</label>
        <input type="text" class="form-control" name="email">
      </section>
      <section class="form-group">
        <label class="info">Password</label>
        <input type="password" class="form-control" id="pw" name="password">
      </section>

      <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a class="sign" href="/signup">Signup</a></p>
    <p>Or go <a class="sign" href="/">home</a>.</p>

</body>

</html>