<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Furever Home</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="../favicon.ico">
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title>Furever Home</title>
      </head>
      <body class="prefBod">
        <section class="container">
          <h1 class="pref">What I'm Looking For</h1>
          <section class="dropdown">
            <select>
              <option value="Dog">Dog</option>
              <option value="Cat">Cat</option>
              <option value="Small & Furry">Small & Furry</option>
              <option value="Turle">Turtle</option>
            </select>

            <select>
              <option value="Young">Young</option>
              <option value="Adult">Adult</option>
              <option value="senior">Senior</option>
            </select>

            <select>
              <option value="gwd">Good with dogs</option>
              <option value="gwc">Good with cats</option>
              <option value="gwch">good with children</option>
            </select>

            <select>
              <option value="sn">Special needs</option>
              <option value="pt">Potty trained</option>
            </select>

            <form class="" action="index.html" method="post">
              <input type="text" name="" value="Location">
            </form>
          </section>
            <a href="profile">Profile Page</a>
        </section>


      </body>
    </html>
  </body>
</html>
