<!doctype html>
<html>

<head>
  <title>Furever Home</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="shortcut icon" href="../favicon.ico">
</head>

<body class="logBod">
  <section class="container">

    <h1 class="log"> Signup</h1>
    <% if (message.length> 0) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
      <div class="form-group">
        <label class="info">Email</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label class="info">Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </section>
</body>

</html>